/* Css for the messageboard */

.body-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #f2eeeb;
}

.form-container {
	width: 100%;
}

.message-container {
	/* position: fixed; */
	width: 100%;
	overflow: scroll;
	height: 600px;

	top: 100;
}

/* Media queries for mobile devices */
@media (max-width: 600px) {
	.body-container {
		flex-direction: column;
		height: 100%;
	}

	.form-container {
		display: flex;
		justify-content: center;
		left: 0px;
		width: 400px;
	}

	.message-container {
		overflow: visible;
		height: 100%;
		width: 400px;
		left: 0px;
	}
}
