.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.formContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0px;
	margin-top: 20px;
	background: #fff;
	width: 40%;
	border-radius: 16px;
}

.form-header {
	color: rgb(63, 62, 62);
	width: 300px;
	text-align: center;
	margin: 30px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}

.form-input {
	color: #ee6745;
}

.button {
	background-color: #eb5833;
	margin-top: 50px;
	width: 200px;
	height: 40px;
	border-radius: 18px;
	margin-bottom: 20px;
	font-size: 18px;
	color: white;
	border: none;
}
.button:hover {
	background-color: #ee6745;
}

@media (max-width: 600px) {
	.formContainer {
		width: 400px;
	}
}
